<div class="container">
    <h1 class="employee-name">Welcome {{ employeeName }}</h1>
  
    <div class="content-wrapper">
      
      <div class="attendance-box">
        <h2>Team Attendance Summary</h2>
        <p><strong>{{ currentDateTime }}</strong></p> <!-- Moved inside and bold -->
        <table class="summary-table">
            <tr>
              <td><p>Total Employees:</p></td>
              <td><p>{{ stats.totalEmployees }}</p></td>
            </tr>
            <tr>
              <td><p>Present Today:</p></td>
              <td><p>{{ stats.presentToday }}</p></td>
            </tr>
            <tr>
              <td><p>On Leave:</p></td>
              <td><p>{{ stats.onLeaveToday }}</p></td>
            </tr>
            <tr>
              <td><p>Absent:</p></td>
              <td><p>{{ stats.absentToday }}</p></td>
            </tr>
          </table>          
  
        <button (click)="goToAttendance()">Go to Attendance Overview</button>
        <button (click)="goToShifts()" *ngIf="stats.totalEmployees > 0">Assign Shifts For Employees</button>
      </div>
  
       <div class="details-wrapper">
        <div class="shift-details-box">
          <h2>Shift Swap Requests</h2>
    
          <div *ngIf="pendingShiftRequests.length === 0" class="error-message">
            No pending swap requests at the moment.
          </div>

          <p *ngIf="pendingShiftRequests.length > 0" class="info-message">
            New shift swap requests have arrived. <br>please review and take action.
          </p>
    
          <button *ngIf="pendingShiftRequests.length > 0" (click)="goToSwapRequests()">View All Swap Requests</button>
        </div>
        <div class="shift-details-box">
          <h2>Leave Requests</h2>
    
          <div *ngIf="pendingLeaveRequests.length === 0" class="error-message">
            No pending Leave requests at the moment.
          </div>

          <p *ngIf="pendingLeaveRequests.length > 0" class="info-message">
            New leave requests have arrived. <br>please review and take action.
          </p>              
    
          <button *ngIf="pendingLeaveRequests.length > 0" (click)="goToLeaveRequests()">View All Leave Requests</button>
        </div>
      </div>
    </div>
  </div>
  